apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: jobmgmt
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: ghcr.io/samaresh-16/auth-service:latest
          ports:
            - containerPort: 8081

---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: jobmgmt
spec:
  type: NodePort
  selector:
    app: auth-service
  ports:
    - port: 8081
      targetPort: 8081
      nodePort: 30080
