apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server
  namespace: jobmgmt
spec:
  replicas: 2
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      containers:
        - name: config-server
          image: ghcr.io/samaresh-16/config-server:fc5e82de053763ec66822078c0c41dd69437afa8
          ports:
            - containerPort: 8080

---
apiVersion: v1
kind: Service
metadata:
  name: config-server
  namespace: jobmgmt
spec:
  type: NodePort
  selector:
    app: config-server
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30081
