apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka-server
  namespace: jobmgmt
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka-server
  template:
    metadata:
      labels:
        app: eureka-server
    spec:
      containers:
        - name: eureka-server
          image: ghcr.io/samaresh-16/eureka-server:latest
          ports:
            - containerPort: 8761
      imagePullSecrets:
        - name: ghcr-secret
---
apiVersion: v1
kind: Service
metadata:
  name: eureka-server
  namespace: jobmgmt
spec:
  type: NodePort
  selector:
    app: eureka-server
  ports:
    - port: 8761
      targetPort: 8761
      nodePort: 30082
