apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: jobmgmt
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: ghcr.io/samaresh-16/notification-service:latest
          ports:
            - containerPort: 8084

---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: jobmgmt
spec:
  type: NodePort
  selector:
    app: notification-service
  ports:
    - port: 8084
      targetPort: 8084
      nodePort: 30086
